.form {
    display: flex;
    align-items: flex-start;
    // justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        label {
            display: none;
        }

        input {
            width: 100%;
            border-radius: 5px;
            outline: none;
            border: 2px solid #fff;
            font-size: 1.3rem;
            padding-inline: 1rem;
            height: 50px;
        }

        textarea {
            width: 100%;
            border-radius: 5px;
            outline: none;
            border: 2px soliod #fff;
            height: 240px;
            font-size: 1.3rem;
            padding: 1rem;
        }
    }

    button {
        height: 50px;
        border: 2px solid #fff;
        border-radius: 5px;
        background-color: #fff;
        color: blue;
        transition: all ease .5s;
        padding-inline: 1rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: blue;
            color: #fff;
        }
    }
}
