* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(215, 235, 253);
    background-color: rgb(1, 73, 136);
    background-color: darkblue;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.icon-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    cursor: pointer;
    font-size: 2rem;
}